SPedt_!/src/WSReferences/WSlabelTest/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://dpd.ru/ws/label/2012-12-07"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="0"
		xmlns:xsd2="http://dpd.ru/ws/label/2012-12-07"
		name="DPDPrintLabelService"
		targetNamespace="http://dpd.ru/ws/label/2012-12-07">
	<types>
		<xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:tns="0"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="0">
			<xsd:import namespace="http://dpd.ru/ws/label/2012-12-07"
					schemaLocation="file://1.xsd"/>
		</xsd:schema>
	</types>
	<message name="createLabel">
		<part name="parameters"
				element="tns:createLabel"/>
	</message>
	<message name="createLabelResponse">
		<part name="parameters"
				element="tns:createLabelResponse"/>
	</message>
	<message name="WSFault">
		<part name="fault"
				element="tns:WSFault"/>
	</message>
	<message name="createParcelLabel">
		<part name="parameters"
				element="tns:createParcelLabel"/>
	</message>
	<message name="createParcelLabelResponse">
		<part name="parameters"
				element="tns:createParcelLabelResponse"/>
	</message>
	<message name="createLabelFile">
		<part name="parameters"
				element="tns:createLabelFile"/>
	</message>
	<message name="createLabelFileResponse">
		<part name="parameters"
				element="tns:createLabelFileResponse"/>
	</message>
	<portType name="DPDPrintLabel">
		<operation name="createLabel">
			<input name="createLabelRequest"
					message="tns:createLabel"/>
			<output name="createLabelResponse"
					message="tns:createLabelResponse"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
		<operation name="createParcelLabel">
			<input name="createParcelLabelRequest"
					message="tns:createParcelLabel"/>
			<output name="createParcelLabelResponse"
					message="tns:createParcelLabelResponse"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
		<operation name="createLabelFile">
			<input name="createLabelFileRequest"
					message="tns:createLabelFile"/>
			<output name="createLabelFileResponse"
					message="tns:createLabelFileResponse"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
	</portType>
	<binding name="DPDPrintLabelPortBinding"
			type="tns:DPDPrintLabel">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createLabel">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="createParcelLabel">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="createLabelFile">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="DPDPrintLabelService">
		<port name="DPDPrintLabelPort"
				binding="tns:DPDPrintLabelPortBinding">
			<soapbind:address location="http://wstest.dpd.ru:80/services/label-print"/>
		</port>
	</service>
</definitions>