SPedt/src/WSReferences/WSDPD/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://dpd.ru/ws/geography/2015-05-20"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="0"
		xmlns:xsd2="http://dpd.ru/ws/geography/2015-05-20"
		name="DPDGeography2Service"
		targetNamespace="http://dpd.ru/ws/geography/2015-05-20">
	<types>
		<xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:tns="0"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="0">
			<xsd:import namespace="http://dpd.ru/ws/geography/2015-05-20"
					schemaLocation="file://1.xsd"/>
		</xsd:schema>
	</types>
	<message name="getParcelShops">
		<part name="parameters"
				element="tns:getParcelShops"/>
	</message>
	<message name="getParcelShopsResponse">
		<part name="parameters"
				element="tns:getParcelShopsResponse"/>
	</message>
	<message name="WSFault">
		<part name="fault"
				element="tns:WSFault"/>
	</message>
	<message name="getCitiesCashPay">
		<part name="parameters"
				element="tns:getCitiesCashPay"/>
	</message>
	<message name="getCitiesCashPayResponse">
		<part name="parameters"
				element="tns:getCitiesCashPayResponse"/>
	</message>
	<message name="getStoragePeriod">
		<part name="parameters"
				element="tns:getStoragePeriod"/>
	</message>
	<message name="getStoragePeriodResponse">
		<part name="parameters"
				element="tns:getStoragePeriodResponse"/>
	</message>
	<message name="getTerminalsSelfDelivery2">
		<part name="parameters"
				element="tns:getTerminalsSelfDelivery2"/>
	</message>
	<message name="getTerminalsSelfDelivery2Response">
		<part name="parameters"
				element="tns:getTerminalsSelfDelivery2Response"/>
	</message>
	<message name="getPossibleExtraService">
		<part name="parameters"
				element="tns:getPossibleExtraService"/>
	</message>
	<message name="getPossibleExtraServiceResponse">
		<part name="parameters"
				element="tns:getPossibleExtraServiceResponse"/>
	</message>
	<portType name="DPDGeography2">
		<operation name="getParcelShops">
			<input name="getParcelShopsRequest"
					message="tns:getParcelShops"/>
			<output name="getParcelShopsResponse"
					message="tns:getParcelShopsResponse"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
		<operation name="getCitiesCashPay">
			<input name="getCitiesCashPayRequest"
					message="tns:getCitiesCashPay"/>
			<output name="getCitiesCashPayResponse"
					message="tns:getCitiesCashPayResponse"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
		<operation name="getStoragePeriod">
			<input name="getStoragePeriodRequest"
					message="tns:getStoragePeriod"/>
			<output name="getStoragePeriodResponse"
					message="tns:getStoragePeriodResponse"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
		<operation name="getTerminalsSelfDelivery2">
			<input name="getTerminalsSelfDelivery2Request"
					message="tns:getTerminalsSelfDelivery2"/>
			<output name="getTerminalsSelfDelivery2Response"
					message="tns:getTerminalsSelfDelivery2Response"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
		<operation name="getPossibleExtraService">
			<input name="getPossibleExtraServiceRequest"
					message="tns:getPossibleExtraService"/>
			<output name="getPossibleExtraServiceResponse"
					message="tns:getPossibleExtraServiceResponse"/>
			<fault name="WSFault"
					message="tns:WSFault"/>
		</operation>
	</portType>
	<binding name="DPDGeography2PortBinding"
			type="tns:DPDGeography2">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getParcelShops">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="getCitiesCashPay">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="getStoragePeriod">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="getTerminalsSelfDelivery2">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="getPossibleExtraService">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="WSFault">
				<soapbind:fault name="WSFault"
						use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="DPDGeography2Service">
		<port name="DPDGeography2Port"
				binding="tns:DPDGeography2PortBinding">
			<soapbind:address location="http://ws.dpd.ru:80/services/geography2"/>
		</port>
	</service>
</definitions>